<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.AuctionBoardMapper">

<!-- 
	insert into auctionBoard(qNum, questionId, questionDate, subject, content, 
		answerDate, answer, answerId, secret, aNum) 
	values(auctionBoard_seq.nextval, #{questionId}, sysdate, #{subject}, #{content}, 
		sysdate, #{answer}, #{answerId}, #{secret}, #{aNum})
 -->

<!-- 질문 추가 -->
<insert id="insertQuestion" parameterType="com.forest.namu.domain.AuctionBoard">
	insert into auctionBoard(qNum, questionId, questionDate, subject, content, 
		secret, aNum) 
	values(auctionBoard_seq.nextval, #{questionId}, sysdate, #{subject}, #{content}, 
		#{secret}, #{aNum})
</insert>

<!-- 답변 추가 -->
<update id="updateQuestion" parameterType="com.forest.namu.domain.AuctionBoard">
	update auctionBoard set answerDate=sysdate, answer=#{answer}, answerId=#{answerId}
	WHERE qNum = #{qNum}
</update>

<!-- 삭제 -->
<delete id="deleteQuestion" parameterType="Long">
	delete from auctionBoard where qNum = #{qNum}
</delete>

<!-- 데이터 개수 -->
<select id="dataCount" resultType="Integer" parameterType="map">
	select nvl(count(*),0)
	from auctionBoard
	where aNum = #{aNum}
</select>

<!-- 리스트 -->
<select id="listQuestion" resultType="com.forest.namu.domain.AuctionBoard" parameterType="map">
	select b.qNum, b.questionId, b.questionDate, b.subject, b.content, b.answer, 
		b.answerDate, b.answerId, b.secret, b.aNum, m.nickName, a.userId auctionId
	from auctionBoard b
	join auction a on b.aNum = a.aNum
	join member m on b.questionId = m.userId
	where b.aNum = #{aNum}
	order by qNum desc
	OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
</select>


</mapper>