<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.AuctionBoardMapper">

<!-- 질문 -->
<insert id="insertQuestion" parameterType="com.forest.namu.domain.AuctionBoard">
	insert into auctionBoard(qNum, userNickName, question, questionDate, secret, userId, aNum) 
	values(auctionBoard_seq.nextval, #{userNickName}, #{question}, sysdate, #{secret}, #{userId}, #{aNum})
</insert>

<delete id="deleteQuestion" parameterType="Long">

</delete>

<!-- 답변 -->
<update id="insertAnswer" parameterType="com.forest.namu.domain.AuctionBoard">
	update set auctionBoard answerNickName=#{answerNickName}, answer=#{answer}, answerDate=sysdate
</update>


<!-- 질문 수 -->
<select id="dataCount" resultType="Integer" parameterType="map">

</select>

<!-- 리스트 -->
<select id="listQuestion" resultType="com.forest.namu.domain.AuctionBoard" parameterType="map">

</select>

<select id="findById" parameterType="Long" resultType="com.forest.namu.domain.AuctionBoard">
	
              
</select>

<select id="findByPrev" parameterType="map" resultType="com.forest.namu.domain.AuctionBoard">
	

</select>
	
<select id="findByNext" parameterType="map" resultType="com.forest.namu.domain.AuctionBoard">
	

</select>


</mapper>