<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.BadgeMapper">
	<insert id="insertBadge1" parameterType="com.forest.namu.domain.Badge">
		INSERT INTO userbadge(num,userId,regDate) VALUES(1,#{userId},SYSDATE)
	</insert>
	
	<select id="selectBadge" parameterType="String" resultType="com.forest.namu.domain.Badge">
	SELECT u.num,u.regDate,b.name,b.description FROM userbadge u 
	JOIN badge b ON b.num = u.num 
	JOIN member m ON m.userId = u.userId 
	WHERE u.userId = #{userId}
	</select>
	
	<select id="dailyCount" parameterType="String" resultType="long">
	SELECT COUNT(*) FROM daily WHERE userId = #{userId}
	</select>
</mapper>