<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.DailyMapper">

	<insert id="insertDaily" parameterType="com.forest.namu.domain.Daily">
		INSERT INTO daily (num, userId, tagId, subject, content, regDate, hitCount, notice)
		VALUES (daily_seq.NEXTVAL, #{userId}, #{tagId}, #{subject}, #{content},#{regDate}, #{notice})
	</insert>
	
	<sql id="where-list">
		<choose>
		<when test="schType == 'all' ">
			(INSTR(subject, #{kwd}) &gt; 0
			OR DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 )
		</when>
		</choose>
	</sql>

</mapper>