<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.MemberMapper">
	<select id="loginMember" parameterType="String" resultType="com.forest.namu.domain.Member">
		SELECT memberIdx, userId, nickName, userPwd, regDate, modifyDate, lastLogin, enabled, membership
		FROM member
		WHERE userId = #{userId}
	</select>
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET lastLogin = SYSDATE, loginFail = 0
		WHERE userId=#{userId}
	</update>
	
</mapper>