<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.admin.mapper.NoticeManageMapper">
	<select id="noticeSeq" resultType="Long">
		SELECT notices_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.forest.namu.admin.domain.NoticeManage">
		INSERT INTO notices(num, userId, subject, content, notice, hitCount, showNotice, regDate,categoryNum)
		VALUES(#{num}, #{userId}, #{subject}, #{content}, #{notice}, 0, #{showNotice}, SYSDATE,#{categoryNum})
	</insert>

	<sql id="where-list">
		<if test="schType=='all' ">
			( INSTR(subject, #{kwd}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 )
		</if>
		<if test="schType=='subject' ">
			INSTR(subject, #{kwd}) &gt; 0
		</if>
		<if test="schType=='content' ">
			DBMS_LOB.INSTR( content, #{kwd}) &gt; 0 
		</if>
		<if test="schType=='userName' ">
			userName=#{kwd}
		</if>
		<if test="schType=='regDate' ">
			( TO_CHAR(regDate, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(regDate, 'YYYYMMDD') = #{kwd} )
		</if>
	</sql>
	
	<!-- 공지 글 리스트 -->
	<select id="listNoticeTop" resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT n.num, n.notice, n.userId, m.userName, n.subject, n.hitCount, 
				TO_CHAR(regDate, 'YYYY-MM-DD') regDate,
				NVL(fileCount, 0) fileCount
		FROM notices n
		JOIN memberdetail m ON n.userId=m.userId
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) fileCount FROM noticeFile
			GROUP BY num
		) f ON n.num=f.num
		WHERE notice = 1 AND showNotice = 1
		ORDER BY num DESC
	</select>
	
	<!-- 데이터개수  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notices n
		JOIN member m ON n.userId=m.userId
		<where>
			<if test="kwd != null and kwd!=''  ">
				<include refid="where-list"/>
			</if>
			<if test="categoryNum != 0">
				AND n.categoryNum = #{categoryNum}
			</if>
		</where>
	</select>
	
	<!-- 리스트 -->
	<select id="listNotice" parameterType="map" resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT n.num, n.notice, n.userId, md.userName, n.subject, n.hitCount,m.nickName,nc.categoryName,
			   n.regDate, showNotice, NVL(fileCount, 0) fileCount
		FROM notices n
		JOIN member m ON n.userId=m.userId
		JOIN memberdetail md ON n.userId=md.userId
		JOIN noticeCategory
		nc ON nc.categoryNum = n.categoryNum
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) fileCount FROM noticeFile
			GROUP BY num
		) f ON n.num=f.num
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="where-list"/>
			</if>
			<if test="categoryNum != 0">
				AND nc.categoryNum = #{categoryNum}
			</if>
		</where>
		ORDER BY n.num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

    <!-- 글보기 -->
    <select id="findById" parameterType="Long"
		resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT n.num, n.userId, m.nickname, n.subject, n.content, n.regDate,nc.categoryName,
		n.hitCount, n.notice, n.showNotice
		FROM notices n
		JOIN member m ON
		n.userId=m.userId
		JOIN noticeCategory
		nc ON nc.categoryNum = n.categoryNum
		WHERE num = #{num}
	</select>

	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE notices SET hitCount=hitCount+1 WHERE num = #{num}
	</update>

	<!-- 이전글 -->
	<select id="findByPrev" parameterType="map" resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT num, subject
		FROM notices n
		JOIN member m ON n.userId=m.userId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND (num &gt; #{num})
		</where>
		ORDER BY num ASC
		FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 다음글 -->
    <select id="findByNext" parameterType="map" resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT num, subject
		FROM notices n
		JOIN member m ON n.userId=m.userId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			AND (num &lt; #{num})
		</where>
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
	<!-- 수정 -->
	<update id="updateNotice" parameterType="com.forest.namu.admin.domain.NoticeManage">
		UPDATE notices SET subject=#{subject},categoryNum=#{categoryNum},
			content=#{content}, notice=#{notice}, showNotice=#{showNotice}
		WHERE num=#{num}
	</update>
    
	<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="Long">
		DELETE FROM notices WHERE num=#{num}
	</delete>
	
	<!-- 파일 -->
	<insert id="insertNoticeFile" parameterType="com.forest.namu.admin.domain.NoticeManage">
		INSERT INTO noticeFile(fileNum, num, saveFilename, originalFilename, fileSize)
		VALUES (noticeFile_seq.NEXTVAL, #{num}, #{saveFilename},
			#{originalFilename}, #{fileSize})
	</insert>
	
	<select id="listNoticeFile" parameterType="Long" resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
		WHERE num=#{num}    
	</select>
	
	<select id="findByFileId" parameterType="Long" resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
	    WHERE fileNum=#{fileNum}
	</select>
	
	<delete id="deleteNoticeFile" parameterType="map">
		DELETE FROM noticeFile WHERE ${field} = #{num}
	</delete>
	
	<select id="listNoticeCategory"
		resultType="com.forest.namu.admin.domain.NoticeManage">
		SELECT categoryNum, categoryName
		FROM noticeCategory
		ORDER BY categoryNum
	</select>
</mapper>