<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.forest.namu.mapper.ScheduleMapper">
	<insert id="insertSchedule" parameterType="com.forest.namu.domain.Schedule">
		INSERT INTO schedule(num, userId, subject, categoryNum, color, sday, eday,
					stime, etime, memo, regDate) 
				VALUES(schedule_seq.NEXTVAL, #{userId}, #{subject},
					#{categoryNum, jdbcType=INTEGER}, 
					#{color}, #{sday},
					#{eday, jdbcType=VARCHAR},
					#{stime, jdbcType=VARCHAR},
					#{etime, jdbcType=VARCHAR},
					#{memo, jdbcType=VARCHAR},
					SYSDATE
		)
	</insert>
	
	<select id="listMonth" parameterType="map" resultType="com.forest.namu.domain.Schedule">
		SELECT num id, subject title, sday, eday, stime, etime,
				s.categoryNum, category, color, memo, regDate
		FROM schedule s
		LEFT OUTER JOIN scheduleCategory sc ON s.categoryNum = sc.categoryNum
		<where>
			s.userId = #{userId}
			<if test="categoryList != null">
				AND 
				s.categoryNum IN
				<foreach collection="categoryList" item="categoryNum" open="(" separator="," close=")">
					#{categoryNum}
				</foreach>
			</if>
			AND
			( 
				
					 ( TO_DATE(sday, 'YYYY-MM-DD') &gt;= TO_DATE(#{start}, 'YYYY-MM-DD')
						AND TO_DATE(sday, 'YYYY-MM-DD') &lt;= TO_DATE(#{end}, 'YYYY-MM-DD')
					 ) OR ( TO_DATE(eday, 'YYYY-MM-DD') &lt;= TO_DATE(#{start}, 'YYYY-MM-DD') 
					     AND TO_DATE(eday, 'YYYY-MM-DD') &lt;= TO_DATE(#{end}, 'YYYY-MM-DD')
					 )
				
			)
		</where>
		ORDER BY sday ASC, id DESC 
	</select>

	<select id="findById" parameterType="Long" resultType="com.forest.namu.domain.Schedule">
		SELECT num, subject, sday, eday, stime, etime, s.categoryNum, category,
			color, memo, regDate 
		FROM schedule s
		LEFT OUTER JOIN scheduleCategory sc ON s.categoryNum = sc.categoryNum
		WHERE num = #{num}
	</select>
	
	<update id="updateSchedule" parameterType="com.forest.namu.domain.Schedule">
		UPDATE schedule SET
			subject=#{subject},
			categoryNum=#{categoryNum, jdbcType=INTEGER}, 
			color=#{color}, sday=#{sday}, 
			eday=#{eday, jdbcType=VARCHAR},
			stime=#{stime, jdbcType=VARCHAR},
			etime=#{etime, jdbcType=VARCHAR},
			memo=#{memo, jdbcType=VARCHAR}
		WHERE num=#{num} AND userId=#{userId}
	</update>
	
	<delete id="deleteSchedule" parameterType="map">
		DELETE FROM schedule WHERE num=#{num} AND userId=#{userId}
	</delete>
	
	<insert id="insertCategory" parameterType="map">
		INSERT INTO scheduleCategory(categoryNum, category, userId)
			VALUES(scheduleCategory_seq.NEXTVAL, #{category}, #{userId})
	</insert>
	
	<select id="listCategory" parameterType="map" resultType="com.forest.namu.domain.Schedule">
		SELECT categoryNum, category
		FROM scheduleCategory
		WHERE userId=#{userId}
		ORDER BY categoryNum
	</select>
	
	<delete id="deleteCategory" parameterType="map">
		DELETE FROM scheduleCategory 
		WHERE categoryNum=#{categoryNum} AND userId=#{userId}
	</delete>
</mapper>