<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.UsedMapper">

<!-- 추가 -->
<insert id="insertUsed" parameterType="com.forest.namu.domain.Used">
	insert into used(num, subject, content, imageFile, price, regDate, hitCount, state, userId) 
		values(used_seq.nextval, #{subject}, #{content}, #{imageFile, jdbcType=VARCHAR}, #{price}, sysdate, 0, 0, #{userId})
</insert>

<!-- 수정 -->
<update id="updateUsed" parameterType="com.forest.namu.domain.Used">
	update used set subject=#{subject}, content=#{content}, price=#{price}, state=#{state}, imageFile=#{imageFile, jdbcType=VARCHAR}
	where num = #{num}
</update>

<!-- 삭제 -->
<delete id="deleteUsed" parameterType="com.forest.namu.domain.Used">
	delete from used where num=#{num}
</delete>

<!-- 리스트 -->
<select id="listUsed" parameterType="map" resultType="com.forest.namu.domain.Used">
	<!--  찜 기능 만든 후 사용할 수 있는 쿼리
	select u.num, u.content, u.subject, imageFile, u.state, u.price, u.hitCount, 
   TO_CHAR(u.regDate, 'YYYY-MM-DD') regDate, m.town1, nvl(replyCount, 0)replyCount
   from used u
	join member m on u.userId = m.userId 
   left outer join (select num, count(*)replyCount from usedLike group by num )ul on u.num = ul.num
	order by num desc
	-->
	
	select u.num, u.content, u.subject, imageFile, u.state, u.price, u.hitCount, TO_CHAR(u.regDate, 'YYYY-MM-DD') regDate, m.town1
	from used u
	join member m on u.userId = m.userId 
	order by num desc
	
</select>

<!-- 게시글 수 -->
<select id="dataCount" parameterType="map" resultType="Integer">
	select nvl(count(*),0)
	from used
</select>

<!-- 조회수 -->
<select id="updateHitCount" parameterType="Long">
	update used set hitCount = hitCount+1 where num = #{num}
</select>

<!-- 글보기 -->
<select id="findById" parameterType="Long" resultType="com.forest.namu.domain.Used">
	<!-- 프로필 조인 버전
	select u.num, u.content, u.imageFile, u.subject, u.price, u.state, u.hitCount, 
	to_char(u.regDate,'YYYY-MM-DD') regDate, m.nickName, m.town1, p.photo 
	from used u 
	left outer join(select num, count(*)
	from usedlike
	group by num) ul on u.num = ul.num
	join member m on u.userId = m.userId
	join profile p on m.userId = p.userId
	where u.num = #{num}
	 -->
	 
	select u.num, u.content, u.imageFile, u.subject, u.price, u.state, u.hitCount, 
	to_char(u.regDate,'YYYY-MM-DD') regDate, m.nickName, m.town1, u.userId
	from used u 
	left outer join(select num, count(*)
	from usedlike
	group by num) ul on u.num = ul.num
	join member m on u.userId = m.userId
	where u.num = #{num}
	
</select>

<!-- 찜 수 -->
<select id="likeCount" parameterType="Long" resultType="Integer">
	select count(*)
	from usedLike
	where num = ${num}
</select>

<!-- 찜 추가 -->
<insert id="insertUsedLike" parameterType="map">
	insert into usedLike(num, userId) values(#{num}, #{userId})
</insert>

<!-- 찜 삭제 -->
<delete id="deleteUsedLike" parameterType="map">
	delete from usedLike 
	where num = #{num} and userId = #{userId}
</delete>

</mapper>