<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.namu.mapper.UsedMapper">

<!-- 중고 시퀀스 -->
<select id="used_seq" resultType="Long">
	select used_seq.nextval from dual
</select>

<!-- 추가 -->
<insert id="insertUsed" parameterType="com.forest.namu.domain.Used">
	insert into used(num, subject, content, imageFile, price, regDate, hitCount, state, userId, cnum, town) 
		values(#{num}, #{subject}, #{content}, #{imageFile, jdbcType=VARCHAR}, #{price}, sysdate, 0, 0, #{userId}, #{cnum}, #{town})
</insert>

<!-- 수정 -->
<update id="updateUsed" parameterType="com.forest.namu.domain.Used">
	update used set cnum=#{cnum}, subject=#{subject}, content=#{content}, price=#{price}, 
			state=#{state}, imageFile=#{imageFile, jdbcType=VARCHAR}, town=#{town}
	where num = #{num}
</update>

<!-- 삭제 -->
<delete id="deleteUsed" parameterType="com.forest.namu.domain.Used">
	delete from used where num=#{num}
</delete>

	<sql id="where-list">
		( INSTR(subject, #{kwd}) &gt; 0
		    OR  INSTR(content, #{kwd}) &gt; 0 )
	</sql>
	
<!-- 리스트 -->
<select id="listUsed" parameterType="map" resultType="com.forest.namu.domain.Used">
	select u.num, u.content, u.subject, imageFile, u.state, u.price, u.hitCount, u.userId,
   TO_CHAR(u.regDate, 'YYYY-MM-DD') regDate, m.town1, nvl(likeCount, 0)likeCount, u.cnum, c.name, u.town
   from used u
    join usedcategory c on u.cnum = c.cnum
	join member m on u.userId = m.userId 
   left outer join (select num, count(*)likeCount from usedLike group by num )ul on u.num = ul.num
	<where>
		<if test="kwd != null and kwd != '' ">
			<include refid="where-list"/>
		</if>
		<if test="cnum != 0">
			AND u.cnum = #{cnum}
		</if>
		<if test="town != null and town != ''">
			AND u.town = #{town}
		</if>		
	</where>   
	order by num desc
	OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY	
</select>

<!-- 게시글 수 -->
<select id="dataCount" parameterType="map" resultType="Integer">
	select nvl(count(*),0)
	from used u
	<where>
		<if test="kwd != null and kwd != '' ">
			<include refid="where-list"/>
		</if>
		<if test="cnum != 0">
			AND u.cnum = #{cnum}
		</if>
		<if test="town != null and town != ''">
			AND u.town = #{town}
		</if>		
	</where>
</select>

<select id="listCategory" resultType="com.forest.namu.domain.Used">
  select cNum, name from usedcategory 
</select>

<!-- 조회수 -->
<select id="updateHitCount" parameterType="Long">
	update used set hitCount = hitCount+1 where num = #{num}
</select>

<!-- 글보기 -->
<select id="findById" parameterType="Long" resultType="com.forest.namu.domain.Used">
	select u.num, u.content, u.imageFile, u.subject, u.price, u.state, u.hitCount, u.cnum,
	to_char(u.regDate,'YYYY-MM-DD') regDate, m.nickName, m.town1, p.photo, u.userId, u.town, u.tableName,
   p.photo
	from used u 
	left outer join(select num, count(*)
	from usedlike
	group by num) ul on u.num = ul.num
	join member m on u.userId = m.userId
	left outer join profile p on m.userId = p.userId
	where u.num = #{num}
</select>

<!-- 찜 수 -->
<select id="likeCount" parameterType="map" resultType="Integer">
	select count(*)
	from usedLike
	where num = #{num} and userId = #{userId}
</select>

<!-- 찜 추가 -->
<insert id="insertUsedLike" parameterType="map">
	insert into usedLike(num, userId) values(#{num}, #{userId})
</insert>

<!-- 찜 삭제 -->
<delete id="deleteUsedLike" parameterType="map">
	delete from usedLike 
	where num = #{num} and userId = #{userId}
</delete>

<!-- 찜 여부 -->
<select id="userUsedLiked" parameterType="map" resultType="com.forest.namu.domain.Used">
	select num, userId from usedLike where num = #{num} and userId = #{userId}
</select>

<!-- 다중 파일 추가 -->
<insert id="insertUsedFile" parameterType="com.forest.namu.domain.Used">
	insert into usedFile(filenum, num, uploadFile) values(usedFile_seq.nextval, #{num}, #{uploadFile})
</insert>

<!-- 다중 파일 삭제 -->
<delete id="deleteUsedFile" parameterType="Long">
	delete from usedFile where fileNum = #{fileNum}
</delete>

<!-- 파일 리스트 -->
<select id="listUsedFile" resultType="com.forest.namu.domain.Used" parameterType="Long">
	select fileNum, num, uploadFile
	from usedFile 
	where num = #{num}
</select>

<!-- 다중 파일 보기 -->
<select id="findByFileId" resultType="com.forest.namu.domain.Used" parameterType="Long">
	select fileNum, num, uploadFile
	from usedFile
	where fileNum = #{fileNum}
</select>

</mapper>